<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">

    <form action="#" th:action="@{/text}" th:object="${data}" method="post">
        <div class="form-group">
            <label for="text">Text</label>
            <textarea rows="3" class="form-control" id="text" th:field="*{text}"/>
                <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>
</body>
</html>